/* Margin auto all sides */
.m-auto {
  margin: auto;
}

/* Margin auto top and bottom */
.mtb-auto {
  margin-top: auto;
  margin-bottom: auto;
}

/* Margin auto left and right */
.mlr-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Margin all sides */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.3125rem;
}

.m-2 {
  margin: 0.9375rem;
}

.m-3 {
  margin: 1.875rem;
}

.m-4 {
  margin: 2.8125rem;
}

.m-5 {
  margin: 3.75rem;
}

.m-6 {
  margin: 6.25rem;
}

/* Margin top */
.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.3125rem;
}

.mt-2 {
  margin-top: 0.9375rem;
}

.mt-3 {
  margin-top: 1.875rem;
}

.mt-4 {
  margin-top: 2.8125rem;
}

.mt-5 {
  margin-top: 3.75rem;
}

.mt-6 {
  margin-top: 6.25rem;
}

/* Margin bottom */
.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.3125rem;
}

.mb-2 {
  margin-bottom: 0.9375rem;
}

.mb-3 {
  margin-bottom: 1.875rem;
}

.mb-4 {
  margin-bottom: 2.8125rem;
}

.mb-5 {
  margin-bottom: 3.75rem;
}

.mb-6 {
  margin-bottom: 6.25rem;
}

/* Margin left */
.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.3125rem;
}

.ml-2 {
  margin-left: 0.9375rem;
}

.ml-3 {
  margin-left: 1.875rem;
}

.ml-4 {
  margin-left: 2.8125rem;
}

.ml-5 {
  margin-left: 3.75rem;
}

.ml-6 {
  margin-left: 6.25rem;
}

/* Margin right */
.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.3125rem;
}

.mr-2 {
  margin-right: 0.9375rem;
}

.mr-3 {
  margin-right: 1.875rem;
}

.mr-4 {
  margin-right: 2.8125rem;
}

.mr-5 {
  margin-right: 3.75rem;
}

.mr-6 {
  margin-right: 6.25rem;
}

/* Margin top and bottom */
.mtb-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mtb-1 {
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
}

.mtb-2 {
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.mtb-3 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.mtb-4 {
  margin-top: 2.8125rem;
  margin-bottom: 2.8125rem;
}

.mtb-5 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.mtb-6 {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
}

/* Margin left and right */
.mlr-0 {
  margin-left: 0;
  margin-right: 0;
}

.mlr-1 {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
}

.mlr-2 {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.mlr-3 {
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}

.mlr-4 {
  margin-left: 2.8125rem;
  margin-right: 2.8125rem;
}

.mlr-5 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.mlr-6 {
  margin-left: 6.25rem;
  margin-right: 6.25rem;
}

/* Padding all sides */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.3125rem;
}

.p-2 {
  padding: 0.9375rem;
}

.p-3 {
  padding: 1.875rem;
}

.p-4 {
  padding: 2.8125rem;
}

.p-5 {
  padding: 3.75rem;
}

.p-6 {
  padding: 6.25rem;
}

/* Padding top */
.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.3125rem;
}

.pt-2 {
  padding-top: 0.9375rem;
}

.pt-3 {
  padding-top: 1.875rem;
}

.pt-4 {
  padding-top: 2.8125rem;
}

.pt-5 {
  padding-top: 3.75rem;
}

.pt-6 {
  padding-top: 6.25rem;
}

/* Padding bottom */
.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.3125rem;
}

.pb-2 {
  padding-bottom: 0.9375rem;
}

.pb-3 {
  padding-bottom: 1.875rem;
}

.pb-4 {
  padding-bottom: 2.8125rem;
}

.pb-5 {
  padding-bottom: 3.75rem;
}

.pb-6 {
  padding-bottom: 6.25rem;
}

/* Padding left */
.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.3125rem;
}

.pl-2 {
  padding-left: 0.9375rem;
}

.pl-3 {
  padding-left: 1.875rem;
}

.pl-4 {
  padding-left: 2.8125rem;
}

.pl-5 {
  padding-left: 3.75rem;
}

.pl-6 {
  padding-left: 6.25rem;
}

/* Padding right */
.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.3125rem;
}

.pr-2 {
  padding-right: 0.9375rem;
}

.pr-3 {
  padding-right: 1.875rem;
}

.pr-4 {
  padding-right: 2.8125rem;
}

.pr-5 {
  padding-right: 3.75rem;
}

.pr-6 {
  padding-right: 6.25rem;
}

/* Padding top and bottom */
.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.ptb-1 {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.ptb-2 {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.ptb-3 {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.ptb-4 {
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
}

.ptb-5 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.ptb-6 {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

/* Padding left and right */
.plr-0 {
  padding-left: 0;
  padding-right: 0;
}

.plr-1 {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.plr-2 {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.plr-3 {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.plr-4 {
  padding-left: 2.8125rem;
  padding-right: 2.8125rem;
}

.plr-5 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.plr-6 {
  padding-left: 6.25rem;
  padding-right: 6.25rem;
}

/* Containers */
.con-1 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.con-2 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.con-3 {
  max-width: 748px;
  margin-left: auto;
  margin-right: auto;
}

.con-4 {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.con-5 {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.con-6 {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
}

.pcon-1 {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pcon-2 {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pcon-3 {
  max-width: 748px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pcon-4 {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pcon-5 {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pcon-6 {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Widths */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-25vw {
  width: 25vw;
}

.w-50vw {
  width: 50vw;
}

.w-75vw {
  width: 75vw;
}

.w-100vw {
  width: 100vw;
}

/* Display types */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

/* Flex direction */
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/* Flex wrap */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

/* Flex justify content */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* Flex align items */
.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.align-items-baseline {
  align-items: baseline;
}

/* Flex align content */
.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

/* Flex */
.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

/* Align-Self */
.align-auto {
  align-self: auto;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-stretch {
  align-self: stretch;
}

.align-baseline {
  align-self: baseline;
}

/* Position */
.pos-static {
  position: static;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.pos-sticky {
  position: sticky;
}

/* Top */
.top-0 {
  top: 0;
}

.top-25 {
  top: 25%;
}

.top-50 {
  top: 50%;
}

.top-75 {
  top: 75%;
}

.top-100 {
  top: 100%;
}

/* Bottom */
.bottom-0 {
  bottom: 0;
}

.bottom-25 {
  bottom: 25%;
}

.bottom-50 {
  bottom: 50%;
}

.bottom-75 {
  bottom: 75%;
}

.bottom-100 {
  bottom: 100%;
}

/* Right */
.right-0 {
  right: 0;
}

.right-25 {
  right: 25%;
}

.right-50 {
  right: 50%;
}

.right-75 {
  right: 75%;
}

.right-100 {
  right: 100%;
}

/* Left */
.left-0 {
  left: 0;
}

.left-25 {
  left: 25%;
}

.left-50 {
  left: 50%;
}

.left-75 {
  left: 75%;
}

.left-100 {
  left: 100%;
}

/* Grid columns */
.grid-one {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
}

.grid-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
}

/* Grid columns No Gutter */
.grid-one-ng {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
}

.grid-two-ng {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.grid-three-ng {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.grid-four-ng {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

/* Text alignment */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Font size */
.fs-1 {
  font-size: 0.9rem;
}

.fs-2 {
  font-size: 1.2rem;
}

.fs-3 {
  font-size: 1.5rem;
}

.fs-4 {
  font-size: 1.8rem;
}

.fs-5 {
  font-size: 2rem;
}

.fs-6 {
  font-size: 2.2rem;
}

/* Font weight */
.fw-1 {
  font-weight: 300;
}

.fw-2 {
  font-weight: 400;
}

.fw-3 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 600;
}

.fw-5 {
  font-weight: 700;
}

/* Line Height */
.lh-normal {
  line-height: normal;
}

.lh-1 {
  line-height: 1;
}

.lh-2 {
  line-height: 1.25;
}

.lh-3 {
  line-height: 1.5;
}

.lh-4 {
  line-height: 1.75;
}

.lh-5 {
  line-height: 2;
}

/* Text Decoration */
.text-decoration-underline {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}

.text-decoration-line {
  text-decoration: line-through;
}

/* Text Overflow */
.text-ov-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-ov-clip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

/* Foreground */
.text-transparent {
  color: transparent;
}

.text-red {
  color: #a70702;
}

.text-blue {
  color: #1b70de;
}

.text-yellow {
  color: #fc0;
}

.text-green {
  color: #6da744;
}

.text-cyan {
  color: #3fbfca;
}

.text-gray {
  color: #999;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* Background */
.bg-transparent {
  background-color: transparent;
}

.bg-red {
  background-color: #a70702;
}

.bg-blue {
  background-color: #1b70de;
}

.bg-yellow {
  background-color: #fc0;
}

.bg-green {
  background-color: #6da744;
}

.bg-cyan {
  background-color: #3fbfca;
}

.bg-gray {
  background-color: #999;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

/* Hover */
.hover-red {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-red:hover {
  color: #a70702;
}

.hover-blue {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-blue:hover {
  color: #1b70de;
}

.hover-yellow {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-yellow:hover {
  color: #fc0;
}

.hover-green {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-green:hover {
  color: #6da744;
}

.hover-cyan {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-cyan:hover {
  color: #3fbfca;
}

.hover-gray {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-gray:hover {
  color: #999;
}

.hover-white {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-white:hover {
  color: white;
}

.hover-black {
  color: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.hover-black:hover {
  color: black;
}

/* No Border */
.border-none {
  border: none;
}

/* Border Colors */
.border-red {
  border: 0.2rem solid #a70702;
}

.border-blue {
  border: 0.2rem solid #1b70de;
}

.border-yellow {
  border: 0.2rem solid #fc0;
}

.border-green {
  border: 0.2rem solid #6da744;
}

.border-cyan {
  border: 0.2rem solid #3fbfca;
}

.border-gray {
  border: 0.2rem solid #999;
}

.border-white {
  border: 0.2rem solid white;
}

.border-black {
  border: 0.2rem solid black;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.reset-ul {
  margin: unset;
  padding: unset;
}

.reset-li {
  list-style: circle;
}

/* Image Fluid */
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Break Point 1 */
@media screen and (min-width: 420px) {
  /* Display types */
  .d-none-1 {
    display: none;
  }

  .d-block-1 {
    display: block;
  }

  .d-inline-1 {
    display: inline;
  }

  .d-inline-block-1 {
    display: inline-block;
  }

  .d-flex-1 {
    display: flex;
  }

  /* Flex direction */
  .flex-row-1 {
    flex-direction: row;
  }

  .flex-column-1 {
    flex-direction: column;
  }

  .flex-row-reverse-1 {
    flex-direction: row-reverse;
  }

  .flex-column-reverse-1 {
    flex-direction: column-reverse;
  }

  /* Flex wrap */
  .flex-wrap-1 {
    flex-wrap: wrap;
  }

  .flex-nowrap-1 {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-1 {
    flex-wrap: wrap-reverse;
  }

  /* Flex justify content */
  .justify-start-1 {
    justify-content: flex-start;
  }

  .justify-end-1 {
    justify-content: flex-end;
  }

  .justify-center-1 {
    justify-content: center;
  }

  .justify-between-1 {
    justify-content: space-between;
  }

  .justify-around-1 {
    justify-content: space-around;
  }

  .justify-evenly-1 {
    justify-content: space-evenly;
  }

  /* Flex align items */
  .align-items-start-1 {
    align-items: flex-start;
  }

  .align-items-end-1 {
    align-items: flex-end;
  }

  .align-items-center-1 {
    align-items: center;
  }

  .align-items-stretch-1 {
    align-items: stretch;
  }

  .align-items-baseline-1 {
    align-items: baseline;
  }

  /* Flex align content */
  .align-content-start-1 {
    align-content: flex-start;
  }

  .align-content-end-1 {
    align-content: flex-end;
  }

  .align-content-center-1 {
    align-content: center;
  }

  .align-content-stretch-1 {
    align-content: stretch;
  }

  .align-content-between-1 {
    align-content: space-between;
  }

  .align-content-around-1 {
    align-content: space-around;
  }

  /* Position */
  .pos-static-1 {
    position: static;
  }

  .pos-relative-1 {
    position: relative;
  }

  .pos-absolute-1 {
    position: absolute;
  }

  .pos-fixed-1 {
    position: fixed;
  }

  .pos-sticky-1 {
    position: sticky;
  }

  /* Grid columns */
  .grid-one-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-two-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-three-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-four-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  /* Grid columns No Gutter */
  .grid-one-ng-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-two-ng-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-three-ng-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-four-ng-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Break Point 2 */
@media screen and (min-width: 560px) {
  /* Display types */
  .d-none-2 {
    display: none;
  }

  .d-block-2 {
    display: block;
  }

  .d-inline-2 {
    display: inline;
  }

  .d-inline-block-2 {
    display: inline-block;
  }

  .d-flex-2 {
    display: flex;
  }

  /* Flex direction */
  .flex-row-2 {
    flex-direction: row;
  }

  .flex-column-2 {
    flex-direction: column;
  }

  .flex-row-reverse-2 {
    flex-direction: row-reverse;
  }

  .flex-column-reverse-2 {
    flex-direction: column-reverse;
  }

  /* Flex wrap */
  .flex-wrap-2 {
    flex-wrap: wrap;
  }

  .flex-nowrap-2 {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-2 {
    flex-wrap: wrap-reverse;
  }

  /* Flex justify content */
  .justify-start-2 {
    justify-content: flex-start;
  }

  .justify-end-2 {
    justify-content: flex-end;
  }

  .justify-center-2 {
    justify-content: center;
  }

  .justify-between-2 {
    justify-content: space-between;
  }

  .justify-around-2 {
    justify-content: space-around;
  }

  .justify-evenly-2 {
    justify-content: space-evenly;
  }

  /* Flex align items */
  .align-items-start-2 {
    align-items: flex-start;
  }

  .align-items-end-2 {
    align-items: flex-end;
  }

  .align-items-center-2 {
    align-items: center;
  }

  .align-items-stretch-2 {
    align-items: stretch;
  }

  .align-items-baseline-2 {
    align-items: baseline;
  }

  /* Flex align content */
  .align-content-start-2 {
    align-content: flex-start;
  }

  .align-content-end-2 {
    align-content: flex-end;
  }

  .align-content-center-2 {
    align-content: center;
  }

  .align-content-stretch-2 {
    align-content: stretch;
  }

  .align-content-between-2 {
    align-content: space-between;
  }

  .align-content-around-2 {
    align-content: space-around;
  }

  /* Position */
  .pos-static-2 {
    position: static;
  }

  .pos-relative-2 {
    position: relative;
  }

  .pos-absolute-2 {
    position: absolute;
  }

  .pos-fixed-2 {
    position: fixed;
  }

  .pos-sticky-2 {
    position: sticky;
  }

  /* Grid columns */
  .grid-one-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-two-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-three-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-four-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  /* Grid columns No Gutter */
  .grid-one-ng-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-two-ng-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-three-ng-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-four-ng-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Break Point 3 */
@media screen and (min-width: 768px) {
  /* Display types */
  .d-none-3 {
    display: none;
  }

  .d-block-3 {
    display: block;
  }

  .d-inline-3 {
    display: inline;
  }

  .d-inline-block-3 {
    display: inline-block;
  }

  .d-flex-3 {
    display: flex;
  }

  /* Flex direction */
  .flex-row-3 {
    flex-direction: row;
  }

  .flex-column-3 {
    flex-direction: column;
  }

  .flex-row-reverse-3 {
    flex-direction: row-reverse;
  }

  .flex-column-reverse-3 {
    flex-direction: column-reverse;
  }

  /* Flex wrap */
  .flex-wrap-3 {
    flex-wrap: wrap;
  }

  .flex-nowrap-3 {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-3 {
    flex-wrap: wrap-reverse;
  }

  /* Flex justify content */
  .justify-start-3 {
    justify-content: flex-start;
  }

  .justify-end-3 {
    justify-content: flex-end;
  }

  .justify-center-3 {
    justify-content: center;
  }

  .justify-between-3 {
    justify-content: space-between;
  }

  .justify-around-3 {
    justify-content: space-around;
  }

  .justify-evenly-3 {
    justify-content: space-evenly;
  }

  /* Flex align items */
  .align-items-start-3 {
    align-items: flex-start;
  }

  .align-items-end-3 {
    align-items: flex-end;
  }

  .align-items-center-3 {
    align-items: center;
  }

  .align-items-stretch-3 {
    align-items: stretch;
  }

  .align-items-baseline-3 {
    align-items: baseline;
  }

  /* Flex align content */
  .align-content-start-3 {
    align-content: flex-start;
  }

  .align-content-end-3 {
    align-content: flex-end;
  }

  .align-content-center-3 {
    align-content: center;
  }

  .align-content-stretch-3 {
    align-content: stretch;
  }

  .align-content-between-3 {
    align-content: space-between;
  }

  .align-content-around-3 {
    align-content: space-around;
  }

  /* Position */
  .pos-static-3 {
    position: static;
  }

  .pos-relative-3 {
    position: relative;
  }

  .pos-absolute-3 {
    position: absolute;
  }

  .pos-fixed-3 {
    position: fixed;
  }

  .pos-sticky-3 {
    position: sticky;
  }

  /* Grid columns */
  .grid-one-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-two-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-three-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-four-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  /* Grid columns No Gutter */
  .grid-one-ng-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-two-ng-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-three-ng-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-four-ng-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Break Point 4 */
@media screen and (min-width: 990px) {
  /* Display types */
  .d-none-4 {
    display: none;
  }

  .d-block-4 {
    display: block;
  }

  .d-inline-4 {
    display: inline;
  }

  .d-inline-block-4 {
    display: inline-block;
  }

  .d-flex-4 {
    display: flex;
  }

  /* Flex direction */
  .flex-row-4 {
    flex-direction: row;
  }

  .flex-column-4 {
    flex-direction: column;
  }

  .flex-row-reverse-4 {
    flex-direction: row-reverse;
  }

  .flex-column-reverse-4 {
    flex-direction: column-reverse;
  }

  /* Flex wrap */
  .flex-wrap-4 {
    flex-wrap: wrap;
  }

  .flex-nowrap-4 {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-4 {
    flex-wrap: wrap-reverse;
  }

  /* Flex justify content */
  .justify-start-4 {
    justify-content: flex-start;
  }

  .justify-end-4 {
    justify-content: flex-end;
  }

  .justify-center-4 {
    justify-content: center;
  }

  .justify-between-4 {
    justify-content: space-between;
  }

  .justify-around-4 {
    justify-content: space-around;
  }

  .justify-evenly-4 {
    justify-content: space-evenly;
  }

  /* Flex align items */
  .align-items-start-4 {
    align-items: flex-start;
  }

  .align-items-end-4 {
    align-items: flex-end;
  }

  .align-items-center-4 {
    align-items: center;
  }

  .align-items-stretch-4 {
    align-items: stretch;
  }

  .align-items-baseline-4 {
    align-items: baseline;
  }

  /* Flex align content */
  .align-content-start-4 {
    align-content: flex-start;
  }

  .align-content-end-4 {
    align-content: flex-end;
  }

  .align-content-center-4 {
    align-content: center;
  }

  .align-content-stretch-4 {
    align-content: stretch;
  }

  .align-content-between-4 {
    align-content: space-between;
  }

  .align-content-around-4 {
    align-content: space-around;
  }

  /* Position */
  .pos-static-4 {
    position: static;
  }

  .pos-relative-4 {
    position: relative;
  }

  .pos-absolute-4 {
    position: absolute;
  }

  .pos-fixed-4 {
    position: fixed;
  }

  .pos-sticky-4 {
    position: sticky;
  }

  /* Grid columns */
  .grid-one-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-two-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-three-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-four-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  /* Grid columns No Gutter */
  .grid-one-ng-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-two-ng-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-three-ng-4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-four-ng-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Break Point 5 */
@media screen and (min-width: 1200px) {
  /* Display types */
  .d-none-5 {
    display: none;
  }

  .d-block-5 {
    display: block;
  }

  .d-inline-5 {
    display: inline;
  }

  .d-inline-block-5 {
    display: inline-block;
  }

  .d-flex-5 {
    display: flex;
  }

  /* Flex direction */
  .flex-row-5 {
    flex-direction: row;
  }

  .flex-column-5 {
    flex-direction: column;
  }

  .flex-row-reverse-5 {
    flex-direction: row-reverse;
  }

  .flex-column-reverse-5 {
    flex-direction: column-reverse;
  }

  /* Flex wrap */
  .flex-wrap-5 {
    flex-wrap: wrap;
  }

  .flex-nowrap-5 {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-5 {
    flex-wrap: wrap-reverse;
  }

  /* Flex justify content */
  .justify-start-5 {
    justify-content: flex-start;
  }

  .justify-end-5 {
    justify-content: flex-end;
  }

  .justify-center-5 {
    justify-content: center;
  }

  .justify-between-5 {
    justify-content: space-between;
  }

  .justify-around-5 {
    justify-content: space-around;
  }

  .justify-evenly-5 {
    justify-content: space-evenly;
  }

  /* Flex align items */
  .align-items-start-5 {
    align-items: flex-start;
  }

  .align-items-end-5 {
    align-items: flex-end;
  }

  .align-items-center-5 {
    align-items: center;
  }

  .align-items-stretch-5 {
    align-items: stretch;
  }

  .align-items-baseline-5 {
    align-items: baseline;
  }

  /* Flex align content */
  .align-content-start-5 {
    align-content: flex-start;
  }

  .align-content-end-5 {
    align-content: flex-end;
  }

  .align-content-center-5 {
    align-content: center;
  }

  .align-content-stretch-5 {
    align-content: stretch;
  }

  .align-content-between-5 {
    align-content: space-between;
  }

  .align-content-around-5 {
    align-content: space-around;
  }

  /* Position */
  .pos-static-5 {
    position: static;
  }

  .pos-relative-5 {
    position: relative;
  }

  .pos-absolute-5 {
    position: absolute;
  }

  .pos-fixed-5 {
    position: fixed;
  }

  .pos-sticky-5 {
    position: sticky;
  }

  /* Grid columns */
  .grid-one-5 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-two-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-three-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-four-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  /* Grid columns No Gutter */
  .grid-one-ng-5 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-two-ng-5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-three-ng-5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-four-ng-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Break Point 6 */
@media screen and (min-width: 1400px) {
  /* Display types */
  .d-none-6 {
    display: none;
  }

  .d-block-6 {
    display: block;
  }

  .d-inline-6 {
    display: inline;
  }

  .d-inline-block-6 {
    display: inline-block;
  }

  .d-flex-6 {
    display: flex;
  }

  /* Flex direction */
  .flex-row-6 {
    flex-direction: row;
  }

  .flex-column-6 {
    flex-direction: column;
  }

  .flex-row-reverse-6 {
    flex-direction: row-reverse;
  }

  .flex-column-reverse-6 {
    flex-direction: column-reverse;
  }

  /* Flex wrap */
  .flex-wrap-6 {
    flex-wrap: wrap;
  }

  .flex-nowrap-6 {
    flex-wrap: nowrap;
  }

  .flex-wrap-reverse-6 {
    flex-wrap: wrap-reverse;
  }

  /* Flex justify content */
  .justify-start-6 {
    justify-content: flex-start;
  }

  .justify-end-6 {
    justify-content: flex-end;
  }

  .justify-center-6 {
    justify-content: center;
  }

  .justify-between-6 {
    justify-content: space-between;
  }

  .justify-around-6 {
    justify-content: space-around;
  }

  .justify-evenly-6 {
    justify-content: space-evenly;
  }

  /* Flex align items */
  .align-items-start-6 {
    align-items: flex-start;
  }

  .align-items-end-6 {
    align-items: flex-end;
  }

  .align-items-center-6 {
    align-items: center;
  }

  .align-items-stretch-6 {
    align-items: stretch;
  }

  .align-items-baseline-6 {
    align-items: baseline;
  }

  /* Flex align content */
  .align-content-start-6 {
    align-content: flex-start;
  }

  .align-content-end-6 {
    align-content: flex-end;
  }

  .align-content-center-6 {
    align-content: center;
  }

  .align-content-stretch-6 {
    align-content: stretch;
  }

  .align-content-between-6 {
    align-content: space-between;
  }

  .align-content-around-6 {
    align-content: space-around;
  }

  /* Position */
  .pos-static-6 {
    position: static;
  }

  .pos-relative-6 {
    position: relative;
  }

  .pos-absolute-6 {
    position: absolute;
  }

  .pos-fixed-6 {
    position: fixed;
  }

  .pos-sticky-6 {
    position: sticky;
  }

  /* Grid columns */
  .grid-one-6 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-two-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-three-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .grid-four-6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  /* Grid columns No Gutter */
  .grid-one-ng-6 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-two-ng-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-three-ng-6 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .grid-four-ng-6 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
