@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* Foreground */
.text-transparent {
  color: $transparent;
}

@each $color, $value in $colors {
  .text-#{$color} {
    color: $value;
  }
}

/* Background */
.bg-transparent {
  background-color: $transparent;
}

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  }
}

/* Hover */
@each $color, $value in $colors {
  .hover-#{$color} {
    color: inherit;

    @include transition-hover($duration, $ease-in-out);
  }

  .hover-#{$color}:hover {
    color: $value;
  }
}
