@use '../abstracts/variables' as *;

/* Grid columns */
@each $number, $value in $grid-column {
  .grid-#{$number} {
    display: grid;
    grid-template-columns: $value;
    grid-template-rows: auto;
    column-gap: $container-padding;
  }
}

/* Grid columns No Gutter */
@each $number, $value in $grid-column {
  .grid-#{$number}-ngs {
    display: grid;
    grid-template-columns: $value;
    grid-template-rows: auto;
  }
}
