body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkolivegreen;
  font-size: 30px;
}

.square {
  width: 100px;
  height: 100px;
}

.color1 {
  background-color: yellow;
}

.color2 {
  background-color: plum;
}

.color3 {
  background-color: grey;
}
