@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@media screen and (min-width: $break-1) {
  /* Display types */
  @each $display-type, $value in $display {
    .d-#{$display-type}-1 {
      display: $value;
    }
  }

  /* Flex direction */
  @each $flex-type, $value in $flex-direction {
    .flex-#{$flex-type}-1 {
      flex-direction: $value;
    }
  }

  /* Flex wrap */
  @each $flex-type, $value in $flex-wrap {
    .flex-#{$flex-type}-1 {
      flex-wrap: $value;
    }
  }

  /* Flex justify content */
  @each $flex-type, $value in $justify-content {
    .justify-#{$flex-type}-1 {
      justify-content: $value;
    }
  }

  /* Flex align items */
  @each $flex-type, $value in $align-items {
    .align-items-#{$flex-type}-1 {
      align-items: $value;
    }
  }

  /* Flex align content */
  @each $flex-type, $value in $align-content {
    .align-content-#{$flex-type}-1 {
      align-content: $value;
    }
  }

  /* Grid columns */
  @each $number, $value in $grid-column {
    .grid-#{$number}-1 {
      display: grid;
      grid-template-columns: $value;
      grid-template-rows: auto;
      column-gap: $container-padding;
    }
  }
}

@media screen and (min-width: $break-2) {
  /* Display types */
  @each $display-type, $value in $display {
    .d-#{$display-type}-2 {
      display: $value;
    }
  }

  /* Flex direction */
  @each $flex-type, $value in $flex-direction {
    .flex-#{$flex-type}-2 {
      flex-direction: $value;
    }
  }

  /* Flex wrap */
  @each $flex-type, $value in $flex-wrap {
    .flex-#{$flex-type}-2 {
      flex-wrap: $value;
    }
  }

  /* Flex justify content */
  @each $flex-type, $value in $justify-content {
    .justify-#{$flex-type}-2 {
      justify-content: $value;
    }
  }

  /* Flex align items */
  @each $flex-type, $value in $align-items {
    .align-items-#{$flex-type}-2 {
      align-items: $value;
    }
  }

  /* Flex align content */
  @each $flex-type, $value in $align-content {
    .align-content-#{$flex-type}-2 {
      align-content: $value;
    }
  }

  /* Grid columns */
  @each $number, $value in $grid-column {
    .grid-#{$number}-2 {
      display: grid;
      grid-template-columns: $value;
      grid-template-rows: auto;
      column-gap: $container-padding;
    }
  }
}

@media screen and (min-width: $break-3) {
  /* Display types */
  @each $display-type, $value in $display {
    .d-#{$display-type}-3 {
      display: $value;
    }
  }

  /* Flex direction */
  @each $flex-type, $value in $flex-direction {
    .flex-#{$flex-type}-3 {
      flex-direction: $value;
    }
  }

  /* Flex wrap */
  @each $flex-type, $value in $flex-wrap {
    .flex-#{$flex-type}-3 {
      flex-wrap: $value;
    }
  }

  /* Flex justify content */
  @each $flex-type, $value in $justify-content {
    .justify-#{$flex-type}-3 {
      justify-content: $value;
    }
  }

  /* Flex align items */
  @each $flex-type, $value in $align-items {
    .align-items-#{$flex-type}-3 {
      align-items: $value;
    }
  }

  /* Flex align content */
  @each $flex-type, $value in $align-content {
    .align-content-#{$flex-type}-3 {
      align-content: $value;
    }
  }

  /* Grid columns */
  @each $number, $value in $grid-column {
    .grid-#{$number}-3 {
      display: grid;
      grid-template-columns: $value;
      grid-template-rows: auto;
      column-gap: $container-padding;
    }
  }
}

@media screen and (min-width: $break-4) {
  /* Display types */
  @each $display-type, $value in $display {
    .d-#{$display-type}-4 {
      display: $value;
    }
  }

  /* Flex direction */
  @each $flex-type, $value in $flex-direction {
    .flex-#{$flex-type}-4 {
      flex-direction: $value;
    }
  }

  /* Flex wrap */
  @each $flex-type, $value in $flex-wrap {
    .flex-#{$flex-type}-4 {
      flex-wrap: $value;
    }
  }

  /* Flex justify content */
  @each $flex-type, $value in $justify-content {
    .justify-#{$flex-type}-4 {
      justify-content: $value;
    }
  }

  /* Flex align items */
  @each $flex-type, $value in $align-items {
    .align-items-#{$flex-type}-4 {
      align-items: $value;
    }
  }

  /* Flex align content */
  @each $flex-type, $value in $align-content {
    .align-content-#{$flex-type}-4 {
      align-content: $value;
    }
  }

  /* Grid columns */
  @each $number, $value in $grid-column {
    .grid-#{$number}-4 {
      display: grid;
      grid-template-columns: $value;
      grid-template-rows: auto;
      column-gap: $container-padding;
    }
  }
}

@media screen and (min-width: $break-5) {
  /* Display types */
  @each $display-type, $value in $display {
    .d-#{$display-type}-5 {
      display: $value;
    }
  }

  /* Flex direction */
  @each $flex-type, $value in $flex-direction {
    .flex-#{$flex-type}-5 {
      flex-direction: $value;
    }
  }

  /* Flex wrap */
  @each $flex-type, $value in $flex-wrap {
    .flex-#{$flex-type}-5 {
      flex-wrap: $value;
    }
  }

  /* Flex justify content */
  @each $flex-type, $value in $justify-content {
    .justify-#{$flex-type}-5 {
      justify-content: $value;
    }
  }

  /* Flex align items */
  @each $flex-type, $value in $align-items {
    .align-items-#{$flex-type}-5 {
      align-items: $value;
    }
  }

  /* Flex align content */
  @each $flex-type, $value in $align-content {
    .align-content-#{$flex-type}-5 {
      align-content: $value;
    }
  }

  /* Grid columns */
  @each $number, $value in $grid-column {
    .grid-#{$number}-5 {
      display: grid;
      grid-template-columns: $value;
      grid-template-rows: auto;
      column-gap: $container-padding;
    }
  }
}

@media screen and (min-width: $break-6) {
  /* Display types */
  @each $display-type, $value in $display {
    .d-#{$display-type}-6 {
      display: $value;
    }
  }

  /* Flex direction */
  @each $flex-type, $value in $flex-direction {
    .flex-#{$flex-type}-6 {
      flex-direction: $value;
    }
  }

  /* Flex wrap */
  @each $flex-type, $value in $flex-wrap {
    .flex-#{$flex-type}-6 {
      flex-wrap: $value;
    }
  }

  /* Flex justify content */
  @each $flex-type, $value in $justify-content {
    .justify-#{$flex-type}-6 {
      justify-content: $value;
    }
  }

  /* Flex align items */
  @each $flex-type, $value in $align-items {
    .align-items-#{$flex-type}-6 {
      align-items: $value;
    }
  }

  /* Flex align content */
  @each $flex-type, $value in $align-content {
    .align-content-#{$flex-type}-6 {
      align-content: $value;
    }
  }

  /* Grid columns */
  @each $number, $value in $grid-column {
    .grid-#{$number}-6 {
      display: grid;
      grid-template-columns: $value;
      grid-template-rows: auto;
      column-gap: $container-padding;
    }
  }
}
