// Containers
$diff: 20px;
$container-padding: 1rem;

// Size for Padding and Marging
$size-0: 0;
$size-1: 0.3125rem;
$size-2: 0.9375rem;
$size-3: 1.875rem;
$size-4: 2.8125rem;
$size-5: 3.75rem;
$size-6: 6.25rem;

// Font size
$font-base: 1rem;
$font-1: $font-base * 0.9;
$font-2: $font-base * 1.2;
$font-3: $font-base * 1.5;
$font-4: $font-base * 1.8;
$font-5: $font-base * 2;
$font-6: $font-base * 2.2;

// Font weight
$font-weight-1: 300;
$font-weight-2: 400;
$font-weight-3: 500;
$font-weight-4: 600;
$font-weight-5: 700;

// Line height
$line-normal: normal;
$line-base: 1;
$line-1: $line-base * 1;
$line-2: $line-base * 1.25;
$line-3: $line-base * 1.5;
$line-4: $line-base * 1.75;
$line-5: $line-base * 2;

// Grid column
$one-column: (auto);
$two-column: (auto auto);
$three-column: (auto auto auto);
$four-column: (auto auto auto auto);

// Break points
$break-0: 0;
$break-1: 420px;
$break-2: 560px;
$break-3: 768px;
$break-4: 990px;
$break-5: 1200px;
$break-6: 1400px;

// Colors
$red: hsl(2, 98%, 33%);
$blue: hsl(214, 78%, 49%);
$yellow: hsl(48, 100%, 50%);
$green: hsl(95, 42%, 46%);
$cyan: hsl(185, 57%, 52%);
$gray: hsl(0, 0%, 60%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Transitions
$duration: 0.2s;
$ease-in-out: ease-in-out;

// Margin and padding variables
$sizes: ("0" $size-0, "1" $size-1, "2" $size-2, "3" $size-3, "4" $size-4, "5" $size-5, "6" $size-6);

$margin-all: $sizes;
$margin-top: $sizes;
$margin-bottom: $sizes;
$margin-left: $sizes;
$margin-right: $sizes;
$margin-top-bottom: $sizes;
$margin-left-right: $sizes;

$padding-all: $sizes;
$padding-top: $sizes;
$padding-bottom: $sizes;
$padding-left: $sizes;
$padding-right: $sizes;
$padding-top-bottom: $sizes;
$padding-left-right: $sizes;

// Containers
$containers: ("1" $break-1, "2" $break-2, "3" $break-3, "4" $break-4, "5" $break-5, "6" $break-6);

// Display Types
$display: ("none" none, "block" block, "inline" inline, "inline-block" inline-block, "flex" flex);

// Flex Types
$flex-direction: ("row" row, "column" column, "row-reverse" row-reverse, "column-reverse" column-reverse);
$flex-wrap: ("wrap" wrap, "nowrap" nowrap, "wrap-reverse" wrap-reverse);
$justify-content: ("start" flex-start, "end" flex-end, "center" center, "between" space-between, "around" space-around, "evenly" space-evenly);
$align-items: ("start" flex-start, "end" flex-end, "center" center, "stretch" stretch, "baseline" baseline);
$align-content: ("start" flex-start, "end" flex-end, "center" center, "stretch" stretch, "between" space-between, "around" space-around);
$self-align: ("auto" auto, "start" flex-start, "end" flex-end, "center" center, "stretch" stretch, "baseline" baseline);

// Position
$position: ("static" static, "relative" relative, "absolute" absolute, "fixed" fixed, "sticky" sticky);
$pos-values: ("0" 0, "25" 25%, "50" 50%, "75" 75%, "100" 100%);
$top: $pos-values;
$bottom: $pos-values;
$right: $pos-values;
$left: $pos-values;

// Grid
$grid-column: ("one" $one-column, "two" $two-column, "three" $three-column, "four" $four-column);

// Text properties
$text-align: ("left" left, "center" center, "right" right);
$font-size: ("1" $font-1, "2" $font-2, "3" $font-3, "4" $font-4, "5" $font-5, "6" $font-6);
$font-weight: ("1" $font-weight-1, "2" $font-weight-2, "3" $font-weight-3, "4" $font-weight-4, "5" $font-weight-5);
$line-height: ("normal" $line-normal, "1" $line-1, "2" $line-2, "3" $line-3, "4" $line-4, "5" $line-5,);
$text-decoration: ("underline" underline, "none" none, "line" line-through);

// Colors
$colors: ("red" $red, "blue" $blue, "yellow" $yellow, "green" $green, "cyan" $cyan, "gray" $gray, "white" $white, "black" $black);
